.Cookbook{
    height: 100vh;
    background-color:#f2f6f7;
    background-image: url(../../components/Home/home-components/css/images/background-img-MED.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    overflow-x: hidden;
    
  }