.EndHomeHero{
  display: flex;
  flex-direction: column;
  width: 40%!important;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 12%;
  margin-top: 150px;

}



.EndHomeHero>h1{
  font-family: 'Calistoga', cursive;
  font-size: 60px;
  text-align: left;
}

.EndHomeHero>p{
  text-align: left;
  font-family: 'Calistoga', cursive;
  font-size: 17px;
}
.EndHomeHero>.btn{
  margin-left: -1px;
}