.EndHomeHero{
  display: flex;
  flex-direction: column;
  width: 40%!important;
  justify-content: flex-start;
  align-items: center;
  margin: 130px auto;
}



.EndHomeHero>h1{
  font-family: 'Calistoga', cursive;
  font-size: 80px;
  text-align: center;
}

.EndHomeHero>p{
  text-align: center;
  font-family: 'Calistoga', cursive;
  font-size: 17px;
  margin-top: 10px;
}
.EndHomeHero>.btn{
  margin: auto -1px;
  font-family: 'Calistoga', cursive;
  width: 40%;
  font-size: 25px;
}