.Header-intro{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  /* left: 10%; */
  right: 38%;
  font-family: 'Calistoga', cursive;
  width: 60%;
}

.Header-intro>h1{
  font-size: 80px;
  text-align: left;
}

.Header-intro>h3{
  font-size: 40px;
  margin-top: 10px;
  margin-right: 190px;
}

form{
  margin-top: 40px;
  width: 100%;
  margin-right: 20px;
}

.input{
  width: 60%;
  height: 40px;
  text-align: center;
}

form .btn {
  text-decoration: none;
  font-size: 20px;
  background-color: teal;
  height: 40px;
  margin-bottom: 2.5px;
  margin-left: 5px;
  color:#fff ;
}